%h1 Genres

-@genres.each do |genre|
  =link_to genre.name, genre_path(genre)

-if current_admin?
  %h2 Create a New Genre
  =form_for [@new_genre] do |f|
    =f.label :name
    =f.text_field :name

    =f.submit
